In [18]:
import pandas as pd
import numpy as np
from FeatureExtractor import getAttributess

In [6]:
trusted = pd.read_csv("raw_data/Trusted_urls.txt",header=None,names=["urls"])
phishing = pd.read_csv("raw_data/phishing_urls.txt",header=None,names=["urls"])

In [7]:
d=[]
for i in trusted['urls']:
    d.append(getAttributess(i).values.ravel())

In [8]:
df = pd.DataFrame(d)
df['label'] = 0
df.columns = ['Having_@_symbol','Having_IP',
       'Prefix_suffix_separation',
       'Redirection_//_symbol',
       'Sub_domains','URL_Length',
       'age_domain','dns_record',
       'domain_registration_length',
       'http_tokens','statistical_report',
       'tiny_url','web_traffic','label']
df.to_csv("trusted-urls.csv",index=False,encoding='UTF-8')

In [22]:
d=[]
for i in phishing['urls']:
    try:
        d.append(getAttributess(i).values.ravel())
    except:
        pass

In [23]:
df1 = pd.DataFrame(d)
df1['label'] = 1
df1.columns = ['Having_@_symbol','Having_IP',
       'Prefix_suffix_separation',
       'Redirection_//_symbol',
       'Sub_domains','URL_Length',
       'age_domain','dns_record',
       'domain_registration_length',
       'http_tokens','statistical_report',
       'tiny_url','web_traffic','label']
df1.to_csv("phishing-urls.csv",index=False,encoding='UTF-8')

In [24]:
df1

,Having_@_symbol,Having_IP,Prefix_suffix_separation,Redirection_//_symbol,Sub_domains,URL_Length,age_domain,dns_record,domain_registration_length,http_tokens,statistical_report,tiny_url,web_traffic,label
0,0,0,0,0,0,0,1,1,1,0,0,1,1,1
1,0,0,0,0,1,1,1,1,1,0,1,0,1,1
2,0,0,0,0,0,0,1,1,1,0,1,0,1,1
3,0,0,0,0,0,0,1,1,1,0,1,0,1,1
4,0,1,0,0,2,0,1,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,0,0,0,0,1,1,1,1,1,0,0,0,1,1
991,0,0,0,0,1,1,1,1,1,0,0,0,1,1
992,0,0,0,0,0,0,1,1,1,0,0,0,1,1
993,0,0,1,0,0,2,1,1,1,0,1,0,1,1
994,0,0,1,0,2,2,1,1,1,0,1,0,1,1